<template name="sidenav">
  <div class="r">
    <div class="c c-1-1">
      <div class="user-info">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="r">
    <div class="c c-1-1">
      <div class="side-nav">
        <ul>
          <li class="side-nav-element"><a href="/dashboard"><i class="icon-gauge"></i> <span>Dashboard</span></a></li>
          <li class="side-nav-element"><a href="/today"><i class="icon-website"></i> <span>Today</span></a></li>
          <li class="side-nav-element"><a href="/inbox"><i class="icon-inbox"></i> <span>Inbox</span></a></li>
          <li class="side-nav-element"><a href="/tasks"><i class="icon-tasks"></i> <span>Tasks</span></a></li>
          <li class="side-nav-element"><a href="/events"><i class="icon-calendar"></i><span>Events</span></a></li>
          <li class="side-nav-element"><a href="/reference"><i class="icon-cloud"></i><span>Reference</span></a></li>
          <li class="side-nav-element"><a href="completed"><i class="icon-check"></i><span>Completed</span></a></li>
          <li class="side-nav-element"><a href="/someday"><i class="icon-clock"></i> <span>Someday</span></a></li>
        <li class="side-nav-element"><a href="/lockItUp "><i class="icon-lock"></i> <span>Lock Screen</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</template>