<template name="sidenav">
	<div class="r">
		<div class="c c-1-1">
			<div class="user-info">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="r">
		<div class="c c-1-1">
			<div class="side-nav">
				<ul>
					<li class="side-nav-element">
						<a href="/dashboard">
							<div><img src="img/speed11.svg"/></div>
							<div class="side-nav-label">Dashboard</div>
						</a>
					</li>
					<li class="side-nav-element">
						<a href="/inbox">
							<div><img src="img/inbox36.svg"/></div>
							<div class="side-nav-label">Inbox</div>
						</a>
					</li>
					<li class="side-nav-element side-nav-active">
						<a href="/today">
							<div><img src="img/2442.svg"/></div>
							<div class="side-nav-label">Today</div>
						</a>
					</li>
					<li class="side-nav-element side-nav-active">
						<a href="/today">
							<div><img src="img/task2.svg"/></div>
							<div class="side-nav-label">Tasks</div>
						</a>
					</li>
					<li class="side-nav-element side-nav-active">
						<a href="/today">
							<div><img src="img/clock118.svg"/></div>
							<div class="side-nav-label">Events</div>
						</a>
					</li>
					<li class="side-nav-element side-nav-active">
						<a href="/today">
							<div><img src="img/hosting.svg"/></div>
							<div class="side-nav-label">Reference</div>
						</a>
					</li>
					<li class="side-nav-element side-nav-active">
						<a href="/today">
							<div><img src="img/verification5.svg"/></div>
							<div class="side-nav-label">Completed</div>
						</a>
					</li>
					<li class="side-nav-element side-nav-active">
						<a href="/today">
							<div><img src="img/locked3.svg"/></div>
							<div class="side-nav-label">Lock</div>
						</a>
					</li>
					<!--<li class="side-nav-element"><a href="/today"><i class="icon-website"></i> <span>Today</span></a></li>-->
					<!--<li class="side-nav-element"><a href="/inbox"><i class="icon-inbox"></i> <span>Inbox</span></a></li>-->
					<!--<li class="side-nav-element"><a href="/tasks"><i class="icon-tasks"></i> <span>Tasks</span></a></li>-->
					<!--<li class="side-nav-element"><a href="/events"><i class="icon-calendar"></i><span>Events</span></a></li>-->
					<!--<li class="side-nav-element"><a href="/reference"><i class="icon-cloud"></i><span>Reference</span></a></li>-->
					<!--<li class="side-nav-element"><a href="completed"><i class="icon-check"></i><span>Completed</span></a></li>-->
					<!--<li class="side-nav-element"><a href="/someday"><i class="icon-clock"></i> <span>Someday</span></a></li>-->
					<!--<li class="side-nav-element"><a href="/lockItUp "><i class="icon-lock"></i> <span>Lock Screen</span></a></li>-->
				</ul>
			</div>
		</div>
	</div>
</template>